<!DOCTYPE html>
<html lang="ja"> 
<head>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<title>株式会社切札 | kirifuda inc.</title>
<meta name="description" content="kirifuda is a creative company based in tokyo.">

<meta property="og:type" content="website">
<meta property="og:title" content="株式会社切札 | kirifuda inc.">
<meta property="og:description" content="kirifuda is a creative company based in tokyo.">
<meta property="og:url" content="https://kirifuda.co.jp">
<meta property="og:image" content="https://kirifuda.co.jp/assets/images/ogp.jpg">
<meta name="twitter:card" content="summary_large_image">

<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
<link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">

<script src="/assets/js/const.js" type="text/javascript"></script>

<!-- CSS -->
<link href="/assets/css/def.css" rel="stylesheet" media="all" type="text/css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

<noscript>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Padauk&family=Almarai&display=swap" rel="stylesheet">

<link href="/nogl_assets/css/def.css" rel="stylesheet" media="all" type="text/css">

</noscript>

<script src="/assets/js/common.min.js" type="text/javascript"></script>
<script src="/assets/js/bundle.js" type="text/javascript"></script>


</head>
<body>
<div id="nogl_header">
	<a href="/" class="nogl_logo"><img src="/nogl_assets/images/logo.svg" width="38" height="51" alt="株式会社切札 | kirifuda inc." id="nogl_logo"></a>
	<ul>
		<li><a href="/#works" class="nogl_menu">WORKS</a></li>
		<li><a href="/#about" class="nogl_menu">ABOUT</a></li>
		<li><a href="/#contact" class="nogl_menu">CONTACT</a></li>
	</ul>
	<a href="https://twitter.com/kirifuda_inc" target="_blank" class="nogl_tw" rel="noopener"><img src="/assets/images/about/sns_t.png" width="20" height="18" alt="Twitter"></a>
	<a href="https://www.facebook.com/kirifuda.co.jp" target="_blank" class="nogl_fb" rel="noopener"><img src="/assets/images/about/sns_f.png" width="20" height="18" alt="facebook"></a>
	<a href="https://www.instagram.com/kirifuda_13/" target="_blank" class="nogl_ig" rel="noopener"><img src="/assets/images/about/sns_i.png" width="20" height="18" alt="Instagram"></a>
</div>


<div id="nogl_contents">
	<div class="nogl_wrapper">
		<h1>kirifuda inc.</h1>
		<p class="nogl_desc">CRAFTING DIGITAL EXPERIENCES THROUGH DESIGN AND TECHNOLOGY.</p>
	</div>

	<a name="works" class="nogl_works_title">WORKS</a>

	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Panasonic</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">August 2022</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">Panasonic's DIGITAL SHOWROOM</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SHUEISHA</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">KAYAC</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">September 2021</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">WORLD MAKER βversion</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">KAJIMA CORPORATION</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / XR Experiences</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">October 2020</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">A birds-eye glimpse of the entire Naruse Dam</h3>
						<h2 class="nogl_works_name_b">KAJIMA DX LABO</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Sompo Himawari Life Insurance</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / Experiential Events</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">dof</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">January 2019 </div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">The App to Monitor Heart Rate and 
Measure Stress Levels at CES</h3>
						<h2 class="nogl_works_name_b">STRESS CHECK APP</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Seiko Watch</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites / XR Experiences</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">CHERRY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">December 2019</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">UNLOCK YOU 
| WW | WIRED</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Santen Pharmaceutical</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Experiential Games</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">CHERRY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">August 2019</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">Attack on Titan Collaboration with 
Santen's Eye Care Project</h3>
						<h2 class="nogl_works_name_b">VIRTUAL 
EYEDROPS</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SHUEISHA / KODANSHA</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">PARTY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">April 2019</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">SHONEN
JUM-MAGA
CAMPUS</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Twitter</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">March 2019</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">THE NAME OF
JAPAN'S 
NEW ERA</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">U-CAN</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">HAKUHODO</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">November 2018</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">The last gift from my husband</h3>
						<h2 class="nogl_works_name_b">THE LAST
LETTER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">TOKYO METROPOLITAN ART MUSEUM / 
The Asahi Shimbun</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites / Installations</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">HAKUHODO</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">September 2018</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">MUNCH 
EXHIBITION / 
DRAW! SCREAM</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SHUEISHA</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / Experiential Events</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">December 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">THE READING 
CHAIR FOR 
ONE PIECE</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Sony Music Entertainment</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Apps / Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">December 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">The Music Video Viewer Only Full Moon Day</h3>
						<h2 class="nogl_works_name_b">Uru 
MOON LIVE</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">FiNC</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">PARTY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">October 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">Fitness Walking Game</h3>
						<h2 class="nogl_works_name_b">GOHOBI 
WALKER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Mizuho Bank</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">May 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">Virtual Capsule Toy Machine</h3>
						<h2 class="nogl_works_name_b">JUMBO GACHA</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Adobe</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">TOKYU AGENCY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">July 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">DANCING 
MIKU MAKER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SUNTORY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">Shingata / DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">February 2017</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">The Story Branches
Depending on User Interactions </h3>
						<h2 class="nogl_works_name_b">SAWARERU CM</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SUNTORY</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">November 2016</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">FUNWARI 
THEATER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">SHISEIDO</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">PARTY / DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">April 2016</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">uno SOCIAL 
BARBER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">AMUSE</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">March 2016</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">flumpool 
KAIHOU-KU</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">dof</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value"></div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">October 2015</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">dof inc. 
OFFICIAL 
WEBSITE</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">CITIZEN Watch</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">August 2015</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">CITIZEN Eco-Drive </h3>
						<h2 class="nogl_works_name_b">SATELLITE WAVE 
GPS WATCH</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Sony Interactive Entertainment</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Experiential Games</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">February 2015</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">PS4™ × 
DRAGON BALL 
XENOVERSE</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">P&G</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / Experiential Events</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">January 2015</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">SK-II 35th
INTERACTIVE
HISTORY ART </h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Pernod Ricard Japan</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / Experiential Events</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">FICC</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">December 2014</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">GIRLS! CHEERS!
FANTASY! </h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">OK Go + Honda</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Websites</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">Mori / DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">November 2014</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">Drawing Pre-visualization </h3>
						<h2 class="nogl_works_name_b">I WON'T LET
YOU DOWN</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Yahoo! JAPAN</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Installations / XR Experiences</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">HAKUHODO Kettle</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">September 2014</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h2 class="nogl_works_name_b">YAHOO! TREND
COASTER</h2>
		</div>
	</a>
	<a href="/works/kajima-dxlabo/" class="nogl_works_box">
		<div class="nogl_works_info">
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">CLIENT</div>
				<div class="nogl_works_info_value nogl_works_info_value_client">Panasonic</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">TYPE</div>
				<div class="nogl_works_info_value">Screensavers</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">AGENCY</div>
				<div class="nogl_works_info_value">DENTSU</div>
			</div>
			<div class="nogl_works_info_each">
				<div class="nogl_works_info_label">RELEASE</div>
				<div class="nogl_works_info_value">June 2014</div>
			</div>
		</div>
		<div class="nogl_works_name">
						<h3 class="nogl_works_name_s">Turn PC Desktops into Camp Nou, 
FC Barcelona's Home Stadium</h3>
						<h2 class="nogl_works_name_b">BARCA CLOCK</h2>
		</div>
	</a>
	
	<a name="about" class="nogl_about_title">ABOUT US</a>
	<div class="nogl_about_contents">

			<p class="about_contents_title">WHO WE ARE</p>
			<p class="about_contents_body_jp">株式会社切札は、デザインとテクノロジーを用いた制作および開発を行うクリエイティブ集団です。<br>Webサイト・スマートフォンアプリ・映像・デジタルサイネージ・インスタレーション・XRなど、さまざまなデジタル広告制作業務を行なっています。</p>
			<p class="about_contents_body_en">We are a creative digital studio that crafts digital experiences through design and technology. We focus on Websites, apps, interactive videos, installations, VR &amp; AR experiences.</p>

			<p class="about_contents_title">OUR CREWS</p>
			<p class="about_contents_crews_position">Chief Executive Officer / Founder / Technical Director</p>
			<p class="nogl_about_contents_crews_name">ARIKATA NOBUAKI</p>
			<p class="about_contents_crews_position">Executive Officer / Founder / Technical Director</p>
			<p class="nogl_about_contents_crews_name">NAKASHIMA KENSHIRO</p>
			<p class="about_contents_crews_position">Developer</p>
			<p class="nogl_about_contents_crews_name">KISHI SYUNSUKE</p>
			<p class="about_contents_crews_position">Designer / Motion Designer</p>
			<p class="nogl_about_contents_crews_name">OTSUKA ERIKA</p>

			<p class="about_contents_title">AWARDS</p>
			<ul class="about_contents_awards_ul">
				<li class="about_contents_awards_li">
					<img width="73" height="48" class="about_contents_awards_img" src="/assets/images/about/awards_oneshow.png" alt="The One Show Festival">
				</li>
				<li class="about_contents_awards_li">
					<img width="94" height="42" class="about_contents_awards_img" src="/assets/images/about/awards_acc.png" alt="ACC TOKYO CREATIVITY AWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="42" height="54" class="about_contents_awards_img" src="/assets/images/about/awards_wommy.png" alt="WOMMY AWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="77" height="23" class="about_contents_awards_img" src="/assets/images/about/awards_fwa.png" alt="FWA">
				</li>
				<li class="about_contents_awards_li">
					<img width="139" height="21" class="about_contents_awards_img" src="/assets/images/about/awards_css.png" alt="CSS DESIGN AWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="35" height="52" class="about_contents_awards_img" src="/assets/images/about/awards_adfest.png" alt="ADFEST">
				</li>
				<li class="about_contents_awards_li">
					<img width="94" height="21" class="about_contents_awards_img" src="/assets/images/about/awards_dentsu.png" alt="広告電通賞">
				</li>
				<li class="about_contents_awards_li">
					<img width="45" height="39" class="about_contents_awards_img" src="/assets/images/about/awards_cssw.png" alt="CSS WINNER">
				</li>
				<li class="about_contents_awards_li">
					<img width="78" height="37" class="about_contents_awards_img" src="/assets/images/about/awards_design.png" alt="DESIGN AWARDS ASIA">
				</li>
				<li class="about_contents_awards_li">
					<img width="90" height="43" class="about_contents_awards_img" src="/assets/images/about/awards_jmaf.png" alt="文化庁メディア芸術祭">
				</li>
				<li class="about_contents_awards_li">
					<img width="54" height="31" class="about_contents_awards_img" src="/assets/images/about/awards_code.png" alt="CODE AWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="77" height="23" class="about_contents_awards_img" src="/assets/images/about/awards_awwwards.png" alt="AWWWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="75" height="43" class="about_contents_awards_img" src="/assets/images/about/awards_webby.png" alt="THE WEBBY AWARDS">
				</li>
				<li class="about_contents_awards_li">
					<img width="90" height="31" class="about_contents_awards_img" src="/assets/images/about/awards_spikes.png" alt="SPIKES ASIA">
				</li>
			</ul>

			<p class="about_contents_title">COMPANY PROFILE</p>
			<p class="about_contents_profile_label">Name</p>
			<p class="about_contents_profile_value">株式会社切札 / kirifuda inc.</p>
			<p class="about_contents_profile_label">Officer</p>
			<p class="about_contents_profile_value">有方伸晃 / Arikata Nobuaki<br>中島賢志郎 / Nakashima Kenshiro</p>
			<p class="about_contents_profile_label">Founded</p>
			<p class="about_contents_profile_value">April 2014</p>
			<p class="about_contents_profile_label">Address</p>
			<p class="about_contents_profile_value selectable">〒151-0063 東京都渋谷区富ヶ谷1-6-8 3階<br>3rd Floor, 1-6-8 Tomigaya, Shibuya-ku, Tokyo 151-0063, Japan<br><span class="about_maps_wrapper"><a href="https://krfd.jp/map" target="_blank" class="about_maps" rel="noopener">Google maps</a></span></p>
			<p class="about_contents_profile_label">Mail</p>
			<p class="about_contents_profile_value selectable">info@kirifuda.co.jp</p>
			<p class="about_contents_profile_label">Capital</p>
			<p class="about_contents_profile_value">7,000,000yen</p>
	</div>
</div>

<div id="nogl_contact">
	<a name="contact"></a>
	<div class="nogl_contact_contents">
		<div class="nogl_contact_title_span">
			<p class="nogl_contact_title">CON<span class="nogl_contact_title_ta">T</span>ACT</p>
		</div>
		<div class="nogl_contact_left_desc">
			<div class="nogl_contact_common_vmiddle">
				<p class="nogl_contact_left_desc_jp">新規案件のご相談・その他お問い合わせは、お手数ですがMailにてご連絡ください。折り返しご連絡させていただきます。</p>
				<p class="nogl_contact_left_desc_en">If you have any questions about new projects or other inquiries, please contact us by email. We will get back to you as soon as possible.</p>
			</div>
		</div>
		<div class="nogl_contact_left_mail_span">
			<a class="nogl_contact_left_mail" href="mailto:info@kirifuda.co.jp">info@kirifuda.co.jp</a>
		</div>
	</div>
</div>

<div id="nogl_join">
	<div class="nogl_join_contents">
		<div class="nogl_contact_title_span">
			<p class="nogl_contact_right_title_sub">WE AWAIT YOUR APPLICATION!</p>
		</div>
		<div class="nogl_contact_title_span">
			<p class="nogl_contact_right_title">JOIN US</p>
		</div>
		<div class="nogl_contact_right_desc">
			<div class="nogl_contact_common_vmiddle">
				<p class="nogl_contact_right_desc_copy">Seeking for following positions,</p>
				<div class="nogl_contact_right_seeking_position">
					<span class="nogl_contact_right_seeking_position_li">Web Developers</span><br><span class="nogl_contact_right_seeking_position_li">Programmers</span><br><span class="nogl_contact_right_seeking_position_li">Designers</span>
				</div>
			</div>
		</div>
		<div class="nogl_contact_right_mail_span">
			<a class="nogl_contact_right_mail" href="mailto:job@kirifuda.co.jp">job@kirifuda.co.jp</a>
		</div>
		<p class="nogl_contact_right_note_jp">ポートフォリオを添付の上、上記のアドレスまでご応募ください。</p>
		<p class="nogl_contact_right_note_en">Please submit your portfolio to the address above.</p>
	</div>
</div>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GY86T4LQQ7"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-GY86T4LQQ7');
</script>
</body>
</html>